<h2>Create new celebrity</h2>

<form method="post" action='/celebrities/create'>
    <label>Name:
    <input type="text" name="name"/>
    </label>
    <br/>
    <label>Occupation:</label>:</label>
    <input type="text" name="occupation"/>
    </label>
    <br/>
    <label>Catch phrase:</label>
    <input type="text" name="catchPhrase"/>
    </label>
    <br/>
    <button type="submit">Create celebrity</button>

</form>