<h2>Movies' list</h2>
<br/>
<br/>
<br/>
<a href="/movies/create">Go to create a movie!</a>
<br/>
<br/>
{{#each movies}}
    {{this.title}}
    <br/>
    <a href="/movies/{{this._id}}">See details</a>
    <br/>
    <br/>
{{/each}}

